// ------Toggle Number of People Section when 0-------
.toggle-zero {
  display: none;
}

.toggle-zero-bar {
  border: 2px solid orange !important;
}

// -----Toggle Custom Tip Bar when clicked-----
.toggle-custom {
  text-align: end;
  color: $col-dark-cyan;
}

// ------Toggle Tip TEXT and color when clicked----
.toggle-tips-click {
  color: $col-dark-cyan !important;
  background-color: $col-primary-color !important;
}
